@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');



@font-face {
    font-family: Dx Slight;
    src: url(../../font/dxslight-mediumultra-free-personal-use.otf);
}

@font-face {
    font-family: against;
    src: url(../../font/against\ regular.otf);
}

@font-face {
    font-family: Brigends;
    src: url(../../font/brigends-expanded-font-1705392758-0/brigendsexpanded-nrek1.otf);
}

@font-face {
    font-family: MADE TOMMY;
    src: url(../../font/MADE\ TOMMY\ Light_PERSONAL\ USE.otf);
}

@font-face {
    font-family: netflix-bold;
    src: url(../../font/NetflixSans-Bold.otf);
}
@font-face {
    font-family: netflix-medium;
    src: url(../../font/NetflixSans-Medium.otf);
}
@font-face {
    font-family: netflix-regular;
    src: url(../../font/NetflixSans-Regular.otf);
}

:root {
	--roboto: Roboto;
    --inter : inter;
    --against: against;
    --dark : black;
    --purple : #8400EF;
    --gradient-purple: linear-gradient(90deg, rgba(141,0,255,1) 0%, rgba(75,0,137,1) 100%);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oxanium", sans-serif;
}

a,li {
    text-decoration: none;
    list-style: none;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: "Oxanium", sans-serif;
}


#page1 {
    width: 100%;
    height: 100vh;
    position: relative;
}

#page1 header .topheader {
    width: 100%;
    background-repeat: no-repeat;
   background-color: #1C1C1E;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: rgba(255, 255, 255, 0.553);
}

#page1 header .topheader .topleft {
    display: flex;
    gap: 0.5rem;
}

#page1 header .topheader .topleft #call {
    color: orangered;
    font-weight: bold;
    font-size: 1.3rem;
}


#page1 header nav {
    width: 100%;
    height: 4rem;
    background-color: black;
    padding: 0 2rem 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

#page1 header nav #logo {
    display: flex;
    align-items: center;
    color: white;
}

#page1 header nav #logo img {
    height: 4rem;
    width: 4rem;
}

#page1 header nav ul {
    display: flex;
    gap: 2rem;
    align-items: center;
}

#page1 header nav ul .icon {
    font-size: 1.4rem;
}

#page1 main {
    width: 100%;
    height: calc(100% - 8rem);
    background-image: url(../../);
}

#default-carousel {
    height: 100%;
}

#default-carousel  div {
    height: 100%;
}



.img {
    position: absolute  ;
}


.img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3000;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.637);
    z-index: 2000;
}

.text {
    top: 10rem;
    left: 5rem;
    color: white;
    z-index: 3000;
}

.text h1 {
    font-size: 5rem;
    font-weight: bold;
}

.text p {
    font-size: 2rem;
}