@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');



@font-face {
    font-family: Dx Slight;
    src: url(../../font/dxslight-mediumultra-free-personal-use.otf);
}

@font-face {
    font-family: against;
    src: url(../../font/against\ regular.otf);
}

@font-face {
    font-family: Brigends;
    src: url(../../font/brigends-expanded-font-1705392758-0/brigendsexpanded-nrek1.otf);
}

@font-face {
    font-family: MADE TOMMY;
    src: url(../../font/MADE\ TOMMY\ Light_PERSONAL\ USE.otf);
}



@font-face {
    font-family: VAN FONT;
    src: url(../../font/vanchrome/vanchrome\ front.ttf);
}

@font-face {
    font-family: VAN outline;
    src: url(../../font/vanchrome/vanchrome\ outline.ttf);
}


:root {
	--roboto: Roboto;
    --inter : inter;
    --against: against;
    --dark : black;
    --purple : #8400EF;
    --p2 : rgb(60, 3, 67);
    --gradient-purple: linear-gradient(90deg, rgba(141,0,255,1) 0%, rgba(75,0,137,1) 100%);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,li {
    text-decoration: none;
    list-style: none;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: "Oxanium", sans-serif;
    background-image: url(../../images/paper.jpg);
    position: relative;
}


body .buttonscroll {
    position: fixed;
    right: 1rem;
    bottom: 2rem;
    background-color: white;
    height: 3rem;
    width: 3rem;
    z-index: 4000;
}
.bodyover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(102, 51, 153, 0.135);
}


#page1 {
    width: 100%;
    height: 100vh;
    position: relative;
}

#page1 header .topheader {
    width: 100%;
    background-repeat: no-repeat;
   background-color: white;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: rgba(15, 15, 15, 0.553);
}

#page1 header .topheader .topleft {
    display: flex;
    gap: 0.5rem;
}

#page1 header .topheader .topleft #call {
    color: var(--p2);
    font-weight: bold;
    font-size: 1.3rem;
}


#page1 header nav {
    width: 100%;
    height: 4rem;
    background-color: var(--p2);
    padding: 0 2rem 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

#page1 header nav #logo {
    display: flex;
    align-items: center;
    color: white;
}

#page1 header nav #logo img {
    height: 4rem;
    width: 4rem;
}

#page1 header nav ul {
    display: flex;
    gap: 2rem;
    align-items: center;
}

#page1 header nav ul .icon {
    font-size: 1.4rem;
}

#page1 main {
    width: 100%;
    height: calc(100% - 8rem);
    background-image: url(../../);
}

#default-carousel {
    height: 100%;
}

#default-carousel  div {
    height: 100%;
}



.img {
    position: absolute  ;
}


.img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3000;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.637);
    z-index: 2000;
}

.text {
    top: 10rem;
    left: 5rem;
    color: white;
    z-index: 3000;
}

.text h1 {
    font-size: 5rem;
    font-weight: bold;
}

.text p {
    font-size: 2rem;
}







#page2 {
    width: 100%;
    height: 100vh;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#page2 h2 {
    position: absolute;
    left: 4.2rem;
    top: 2rem;
    font-size: 10rem;
    font-family: VAN FONT;
    color: rgb(60, 3, 67);
}

#page2 .services {
    width: 90%;
    height: auto;
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

#page2 .services .plombier {
    background-color: red;
}

#page2 .services div {
    height: 4rem;
}

#page2 .Peinture {
    height: 4rem;
    background-image: url(../../images/rouleau-peinture-bleue.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-family: VAN FONT;
}


#page3 {
    width: 100%;
    height: auto;
    position: relative;
    padding: 3rem;
}

#page3 #drill {
    position: absolute;
    top: 2rem;
    right: 4rem;
    rotate: 12deg;
    width: 30%;
}

#page3 #cle {
    position: absolute;
    bottom: 0;
    left: -6rem;
    rotate: 12deg;
    width: 30%;
    filter: blur(1px);
}


#page3 .middleofpage3 h1 {
    font-family: VAN FONT;
    color: transparent;
    -webkit-text-stroke: 3px rgb(60, 3, 67);
    font-size: 10rem;
    letter-spacing: 4px;
    position: relative;
    z-index: 3000;
}




















/* footer */


footer {
    width: 100%;
    height: 60vh;
    background-image: url(../../images/bg.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}