@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');



@font-face {
    font-family: Dx Slight;
    src: url(../../font/dxslight-mediumultra-free-personal-use.otf);
}

@font-face {
    font-family: against;
    src: url(../../font/against\ regular.otf);
}

@font-face {
    font-family: Brigends;
    src: url(../../font/brigends-expanded-font-1705392758-0/brigendsexpanded-nrek1.otf);
}

@font-face {
    font-family: MADE TOMMY;
    src: url(../../font/MADE\ TOMMY\ Light_PERSONAL\ USE.otf);
}



@font-face {
    font-family: VAN FONT;
    src: url(../../font/vanchrome/vanchrome\ front.ttf);
}

@font-face {
    font-family: VAN outline;
    src: url(../../font/vanchrome/vanchrome\ outline.ttf);
}


:root {
	--roboto: Roboto;
    --inter : inter;
    --against: against;
    --dark : black;
    --purple : #8400EF;
    --p2 : rgb(60, 3, 67);
    --gradient-purple: linear-gradient(90deg, rgba(141,0,255,1) 0%, rgba(75,0,137,1) 100%);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,li {
    text-decoration: none;
    list-style: none;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: "Oxanium", sans-serif;
    position: relative;
}


body .buttonscroll {
    position: fixed;
    right: 1rem;
    bottom: 2rem;
    background-color: white;
    height: 3rem;
    width: 3rem;
    z-index: 4000;
}
.bodyover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(102, 51, 153, 0.135);
    z-index: 1;
}


#page1 {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 3000;
}

#page1 header .topheader {
    width: 100%;
    background-repeat: no-repeat;
   background-color: white;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: rgba(15, 15, 15, 0.553);
}

#page1 header .topheader .topleft {
    display: flex;
    gap: 0.5rem;
}

#page1 header .topheader .topleft #call {
    color: var(--p2);
    font-weight: bold;
    font-size: 1.3rem;
}


#page1 header nav {
    width: 100%;
    height: 4rem;
   background-color: rgb(31,41,47);
    padding: 0 2rem 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

#page1 header nav #logo {
    display: flex;
    align-items: center;
    color: white;
}

#page1 header nav #logo img {
    height: 4rem;
    width: 4rem;
}

#page1 header nav ul {
    display: flex;
    gap: 2rem;
    align-items: center;
}

#page1 header nav ul li.active {
    color: rgb(255,231,21);
    font-weight: bold;
}

#page1 header nav ul .icon {
    font-size: 1.4rem;
}

#page1 main {
    width: 100%;
    height: calc(100% - 8rem);
}

#default-carousel {
    height: 100%;
}

#default-carousel  div {
    height: 100%;
}



.img {
    position: absolute  ;
}


.img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3000;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.637);
    z-index: 2000;
}

.text {
    top: 10rem;
    left: 5rem;
    color: white;
    z-index: 3000;
}

.text h1 {
    font-size: 5rem;
    font-weight: bold;
}

.text p {
    font-size: 2rem;
}







#page2 {
    width: 100%;
    min-height: 100vh;  
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 2rem;
    z-index: 3000;
}

#page2 h2 {
    font-size: 10rem;
    font-family: VAN FONT;
    color: rgb(255, 242, 0);
}

#page2 .services {
    width: 100%;
    height: auto;
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#page2 .services .plombier {
    background-image: url(../../images/plumberservice.jpg);
    background-size: cover;
    background-position: center; 
    position: relative;
}


#page2 .services div {
    padding: 1rem;
    height: 6rem;
    width: 23rem;
}

#page2 .Peinture {
    background-image: url(../../images/rouleau-peinture-bleue.jpg);
    background-size: cover;
    background-position: center; 
}

#page2 .Viterie {
    background-image: url(../../images/vietrie.jpg);
    background-size: cover;
    background-position: center; 
}

#page2 .Electricité {
    background-image: url(../../images/elecservice.jpg);
    background-size: cover;
    background-position: center;
}

#page2 .Menuiserie {
    background-image: url(../../images/Menuiserie.jpg);
    background-size: cover;
    background-position: center;
}

#page2 .Climatisation {
    background-image: url(../../images/climatisation.avif);
    background-size: cover;
    background-position: center;
}

#page2 .Maconnerie {
    background-image: url(../../images/maconerie.jpg);
    background-size: cover;
    background-position: center;
}

#page2 .TT {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-family: VAN FONT;
    color: transparent;
    letter-spacing: 3px;
    cursor: pointer;
    transition: 300ms ease-in-out;
} 

#page2 .TT:hover {
    color: rgb(39, 0, 66);
    -webkit-text-stroke:transparent;
    filter:  invert(100%);
}


#page3 {
    width: 100%;
    height: auto;
    position: relative;
    padding: 3rem;
}

#page3 #drill {
    position: absolute;
    top: 2rem;
    right: 4rem;
    rotate: 12deg;
    width: 30%;
}

#page3 #cle {
    position: absolute;
    bottom: 0;
    left: -6rem;
    rotate: 12deg;
    width: 30%;
    filter: blur(1px);
}


#page3 .middleofpage3 h1 {
    font-family: VAN FONT;
    color: transparent;
    -webkit-text-stroke: 3px rgb(60, 3, 67);
    font-size: 10rem;
    letter-spacing: 4px;
    position: relative;
    z-index: 3000;
}






#page4 {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 3000;
}

#page4 .stats {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#page4 .stats .SS {
    width: 25rem;
    height: 8rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#page4 .stats .SS .square {
    height: 4rem;
    width: 4rem;
}

#page4 .stats .SS .texto h2{
    font-size: 2rem;
    font-family: VAN FONT;
}


#page4 .bottomabout {
    width: 100%;
    height: 120vh;
    padding: 2rem;
}

#page4 .bottomabout .gridsystem {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(3,1fr);
}



.itemtop {
    border-bottom: 1px solid black;
    border-left: solid 1px black;
}

.itemfirstleft {
    border-left: none;
}

.itemfirstright {
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemlast {
    border-top: 1px solid black;
    border-left: solid 1px black;
}

.itemlastleft {
    border-left: none;
}

.itemmiddleright {
    grid-row: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemmiddleright h3 {
    font-size: 3rem;
    font-family: VAN FONT;
    letter-spacing: 10px;
    word-break: break-all;
    width: 10px;
}

.middleitem {
    border-left: solid 1px black;
}

.itemmiddleleft {
    border-left: none;
}


.itemfirstsecond p {
    font-size: 1.5rem;
    width: 80%;
    font-weight: lighter;
}




#page5 {
    width: 100%;
    height: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}
#page5 h2 {
    font-size: 10rem;
    font-family: VAN FONT;
    color: rgb(255, 242, 0);
}


#page5 .containermap {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page5 .containermap .CC {
    width: 90%;
    height: 100%;
    display: flex;
    overflow-y:auto;
}

#page5 .containermap .CC .leftmap {
    max-height: 100%;
    width: 30%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 1rem;
}
#page5 .containermap .CC .rightmap {
    height: 100%;
    width: 70%;
    background-color: var(--p2);
}



.leftmap .cont {
    width: 90%;
    height: 6rem;
    background-color: white;
}

#urlocation {
    background: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83));
}









#page6 {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3000;
}

#page6 #inside {
height: 40%;
width: 70%;
display: flex;
justify-content:center;
align-items: center;
flex-direction: column;
background-color: rgb(235, 235, 0);
border-radius: 20px;
padding: 0 3rem;
}

#page6 #inside p {
    font-size: 1.5rem;
    font-family: VAN FONT;
}

#page6 #inside p span {
    font-size: 1.2rem;
    font-family: var(--roboto);
}

#page6 #inside input {
    width: 70%;
    border-radius: 10px;
    border: 1px solid black;
}







/* footer */


footer {
    height: 40vh;
    background-color: rgb(15, 4, 33);
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    align-content: center;
    position: relative;
    z-index: 3000;
    padding: 1rem;
}

.firstpart img {
    width: 3rem;
    height: 3rem;
}

.firstpart{
    width: 100%;
    display: flex;
    height: auto;
    justify-content: center;
}

.firstpart h1 {
    font-size: 3rem;
    font-family: against;
}

.logos {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.iconfooter  {
    width: 2.3rem;
    height: 2.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    transition: 300ms ease-in;
    cursor: pointer;
}

.X {
    background-color: white;
    color: black;
}

.iconfooter svg {
    width: 60%;
    height: 60%;
}

.containerbottom {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.iconfooter:hover {
    transform: scale(1.2);
}



.inbetween {
    width: 100%;
    height: 7rem;
    padding: 1rem 6rem;
    background-color: yellow;
}

.inbetween div {
    gap: 0.2rem;
    align-items: first baseline;
}
.inbetween div h1 {
    font-size: 2rem;
    font-weight: bold;
    font-family: var(--roboto);
    color: rgb(40, 36, 36);
}

.inbetween div p {
    font-size: 1.1rem;
}

.inbetween button {
    background-color: white;
    padding: 0.4rem 1rem;
    font-size: 0.8rem;
    cursor: pointer;
    transition: 300ms ease-in;
}




.how {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.how .works {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.how .works h1 {
    font-size: 2rem;
    font-weight: bold;
    font-family: var(--inter);
    color: blue;
}

.how .works p {
    color: rgb(255, 208, 0);
    font-weight: bold;
}

.how .tutorial{
    width: 80%;
    height: auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.how .tutorial .tuto {
    width: 30%;
    height: 13rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.how .tutorial .tuto  img {
    width: 40%;
    transition: ease 300ms;
}

.how .tutorial .tuto p {
    font-weight: bold;
    text-align: center;
    width: 70%;
}

.how .tutorial .tuto p span {
    font-weight: normal;
}

.insidetuto {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.tuto:hover img {
    transform: scale(1.2);
}


.arrow-down {
    width: 3rem;
    height: 3rem;
    background-color: yellow;
    border-radius: 100px;
    padding:0.7rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    transition: 300ms ease;
}

.arrow-down:hover {
    transform: scale(1.1);
    transform: translateY(20%);
}











/* serivices */

.mainservice {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 1rem;
    padding: 2rem;
}

.item {
    width: 72%;
    height: 15rem;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.192);
}
.item .leftitem {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.192);
}

.item .leftitem img {
    width: 60%;
}

.item .rightitem {
    width: 50%;
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.item .rightitem h2{
    font-size: 1.2rem;
    font-weight: bold;
    color: blue;
    font-family: var(--inter);
    text-transform: uppercase;
}


.lastitem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.lastitem button {
    background-color: yellow;
    color: black;
    font-weight: bold;
    padding: 0.3rem 2rem;
}



.servicepage {
    background-image: url(../../images/best-website-designs.webp);
    background-size: cover;
    background-position: center;
    position: relative;
}

.servicepage::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.491);
}

.servicepage h1 {
    color: rgb(255, 255, 255);
    font-family: var(--roboto);
    font-size: 4rem;
    width: 80%;
    line-height: 4rem;
    position: relative;
    z-index: 4000;
}

.servicepage h1 span {
     font-family: var(--against);
    background-color: rgb(255, 255, 255);
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255, 255, 0, 0.626);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
          font-size: 3.4rem;
}

.maintext h1 {
    font-size: 2rem;
    font-weight: bold;
    color: blue;
}

.maintext p {
    color: rgb(255, 217, 0);
    font-weight: bold;
    position: relative;
    top: -0.5rem;
}





.submutticket {
    width: 100%;
    padding:1rem 20rem;
    height: 100%;
}




.submutticket h1 {
    font-size: 3rem;
    font-weight: bold;
}

.submutticket p {
    text-align: center;
    color: rgb(97, 97, 97);
}

.submutticket h2 {
    margin-top: 2rem;
    font-size: 0.8rem;
    color: rgb(97, 97, 97);
}

.submutticket .underline {

    background-color: rgb(97, 97, 97);
    width: 100%;
    height: 1px;
}

.submutticket button {
    background-color: yellow;
    width: 30%;
    padding: 0.7rem 0;
    margin-left: auto;
    margin-right: auto;
}



.contact {
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: center;
    padding: 2rem;
    position: relative;
}

.backgroundemail {
    height: 15rem;
    width: 60%;
    background-image: url(../../images/envelop2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    filter: contrast(100px);
}

.backgroundemail::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 234, 0, 0.178);
}

#contactform {
    width: 45%;
    height: auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    position: absolute;
    font-family: var(--inter);
    gap: 1rem;
    top: 20%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#contactform h1 {
    font-size: 2rem;
    font-weight: bold;

}

#contactform  p {
    text-align: center;
    width: 80%;
    color: rgba(146, 146, 146, 0.708);
}

#contactform textarea {
    border-radius: 5px;
}

#contactform button {
    background-color: rgb(37,73,169);
    width: 78%;
    padding: 0.5rem;
    color: white;
    font-family: var(--inter);
}


.underheader {
    width: 100%;
    height: auto;
    background-color: black;
    padding: 1rem;
    color: rgb(194, 194, 194);
    font-size: 0.8rem;
}

.underheader p a.active {
    color: white;
}


.searchingfilter {
    width: 180%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.searchingfilter input {
    width: 30%;
    height: 55%;
    font-size: 0.8rem;
    border: 1px solid rgb(151, 151, 151);
}

.searchingfilter form {
    width: 30%;
}

.searchingfilter select {
    width: 100%;
    height: 50%;
    font-size: 0.8rem;
    border: 1px solid rgb(151, 151, 151);
}


